body {
	font-family:Arial;
	line-height:22px;
	font-size: 14px;
}

.wrapper {
	max-width:960px;
	margin:auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header {
	padding:10px 0;
	margin-top:23px;
	margin-bottom:19px;
	position:relative;
	top:0;
}

.logo {
	float:left;
	margin-right:23px;
	width:122px;
	height:108px;
}

.contacts a {
	color:white;
}

.contacts p {
	margin:0;
	color:white;
	position:relative;
	left: 360px;
	top: 20px;
}

.block2 {
	width: 279px;
	height:108px;
	margin-right:22px;
	background-color: grey;
	float:left;
	position:absolute;
	left:145px;
}

.block3 {
	width: 513px;
	height:108px;
	background-color: grey;
	float:right;
}


.content {
	margin-top:22px;
	margin-bottom:24px;
}

.left {
	width:165px;
	height:770px;
	float:left;
}

.block4 {
	background-color:grey;
	width:165px;
	float:left;
	height:auto;
}

ul {
	padding:0 5px;
}

li {
	list-style:none;
}

.active {
	font-weight:bold;
}

li a {
	text-decoration:none;
	color:white;
}

.block7 {
	width:165px;
	height:134px;
	background-color:grey;
	border:1px color black;
	position:relative;
	top:637px;
}




.block5 {
	background-color:rgb(219,219,219);
	width: 716px;
	padding:10px 21px 5px 20px;
	color:grey;
	float:right;
	margin-bottom:20px;
}

h2 {
	font-size:14px;
}

.right {
	width:717px;
	height:770px;
	float:right;
}

.gallery {
	float:right;
	width:755px;
	height:330px;
	margin-bottom:20px;
}

.gallery-item {
	width:135px;
	height:151px;
	background-color:rgb(219,219,219);
	margin-right:20px;
	margin-bottom:20px;
	float:left;
}

.gallery-item:nth-child(5n) {
	margin-right:0px;
}

.features {
	float:right;
	width:755px;
	height:200px;
}

.feature-item {
	float:left;
	width:366px;
	height:200px;
	margin-right:20px;
	background-color:rgb(219,219,219);
	color:grey;
	padding:0 20px;
	box-sizing:border-box;
	text-align:justify;
}

.feature-item:nth-child(2n) {
	margin-right:0;
	float:right;
}

.footer {
	position:relative;
	bottom:0;
}

.footer {
	width:960px;
	height:180px;
	position:relative;
	bottom:0;
	margin-top:24px;
	color:white;
}

.block10,
.block11,
.block12,
.block13 {
	background-color:grey;
}

.block10 {
	float:left;
	margin-right:30px;
	width:300px;
	height:180px;
	height:auto;

}

.block10 ul{
	list-style:none;
	vertical-align:middle;
}

.column-1 {
	display:block;
   width:49%;
	float:left;
	border:1px solid black;
}

.column-2 {
	display:block;
	width:49%;
	float:right;
	border:1px solid black;
}

.block11 {
	float:left;
	margin-right:20px;
	width:290px;
	height:180px;
	vertical-align:middle;
	padding-left:30px;
	height:auto;
}

.block11>ul>li{
	list-style-type:square;
}

.block12 {
	float:right;
	width:280px;
	height:80px;
	margin-bottom:20px;
}

.block13 {
	float:right;
	width:280px;
	height:80px;
}
